#!/bin/bash

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetify.com/docs/devbox/ide_configuration/direnv/
# for more details

# Load secrets from .env file (not committed to git)
dotenv_if_exists .env

alias npm="bun"
alias npx="bunx"
