*/**/*.jpg
*/**/*.jpeg
*/**/*.JPG
*/**/*.JPEG
*/**/*.png
*/**/*.PNG
*/**/*.gif
*/**/*.GIF
*/**/*.webp
*/**/*.WEBP
*/**/*.tiff
*/**/*.TIFF
*/**/*.bmp
*/**/*.BMP
*/**/*.svg
*/**/*.SVG
*/**/*.avif
*/**/*.AVIF
*/**/*.heic
*/**/*.HEIC
*/**/*.heif
*/**/*.HEIF
*/**/*.heif-s
*/**/*.HEIF-S
*/**/*.heif-s